#publications .card{
    margin-bottom: 1rem;
    padding: 0.5rem;
}

#publications .card .btn {
    margin-right: .2rem;
}

#publications .card-badge {
    background-color: $highlight;
    color: white;
    // position: fixed;
    z-index: 5;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 5%;
    padding: 0.2rem 0.5rem;
}