// Pre-state grayscale colors used in other variables
// https://www.colourlovers.com/palette/292482/Terra

$gray-800: #343a40;

// Override Bootstrap color system

// $orange: #475C7A;

// Override Bootstrap default state colors

$primary: #033649;
$highlight: #CDB380;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
